# Redis Configuration
REDIS_PORT=14973
REDIS_HOST=example.redis.com
REDIS_PASSWORD=change_me

# Telegram Bot Token (Optional)
TELEGRAM_BOT_TOKEN_1=your_bot_token_1
TELEGRAM_BOT_TOKEN_2=your_bot_token_2
